body{
    margin: 0;
    padding: 0;
    background-color: #393e46;
    color: #eeeeee;
}
.loginContainer{
    background-color: #222831;
    padding: 0 35% 2rem 35%;
    text-align: center;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: #eeeeee;
}
input{
    height: 1.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    background-color: #eeeeee;
    border: none;
    color: #222831;
    border-radius: 5px;
}
input::placeholder{
    color: #222831;
}
form{
    width: 300px;
    margin-top: 0.5rem;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
}
.btn{
    border: none;
    background-color: #00adb5;
    color: #eeeeee;
    border-radius: 5px;
}